.dashboard-mainarea {
    padding-left: 14px;
}
.dashboard-mainarea h3 {
    color: grey;
}

.my-card {
    width: 240px;
    margin: 10px;
}

.custom-img1 {
    background-color: #007BFF; 
    height: 150px;
}