body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 80px; /* width between 75 and 85 */
    background-color: black;
}

li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 10px; /* padding between 5 and 10 pixels */
    margin: 5px; /* margin between 5 and 10 pixels */
}

li a:hover, li a.active {
    color: red;
    background-color: white;
}

.fa {
    color: red;
    margin-right: 5px; /* spacing between icon and text */
}

/* .fa-user {
    color: white; /* Account icon is white */

    body {
        margin: 0px;
        padding: 0px;
    }
    
    body * {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    a {
        color: red;
    }


/**
 *这是整个页面的分类，整个页面是一个横版flex
 */
 .entire-page {
    display: flex;
    flex-direction: row;

}

/**
 *这是页面中除了Main Nav的剩余部分，主要设置一下padding之类
 */
.rest-page {
    margin: 18px;
    flex-grow: 1;
}


.rest-page-no-marg {
    margin: 2px;
    flex-grow: 1;
}


/**
 *这是整个页面的分类，整个页面是一个横版flex
 */
 .entire-page {
    display: flex;
    flex-direction: row;
}


/**
 * 主菜单部分 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 */

 /*对于整列的定义，黑背景，宽度80*/
 .mainnav {
    background-color: black;
    width: 80px;
}
/* NEU ICON */
.mainnav .NEU {
    color: brown;
    font-size: 30px;
    text-align: center;  /* 水平居中 */
    display: flex;       /* 以下三行用于垂直居中 */
    justify-content: center;
    align-items: center;
    height: 70px;        /* 如果有需要，可以设置一个具体的高度，如 50px */
}
/*对于一个列表的定义，无列表点，wupadding*/
.mainnav ul.mainnav-list {
    list-style: none;
    padding: 0px;
}
.mainnav ul.mainnav-list li {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* 文字部分 */
.mainnav ul.mainnav-list li a {
    text-decoration: none;
    font: 0.8em white;
    color: white;
}
  /* 单独定义被选中的mainnav 选项 */
.mainnav ul.mainnav-list li.active-mainnav-cell {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
}

.mainnav ul.mainnav-list li.active-mainnav-cell a {
    text-decoration: none;
    font: 0.8em;
    color: red;
}
/* icon 部分 */
.mainnav ul.mainnav-list li a i {
    color: red;
    font-size: 1.8em;
    margin-bottom: 5px;
}
.mainnav ul.mainnav-list li a i.user {
    color: gainsboro;
    font-size: 1.8em;
    margin-bottom: 5px;
}

