/* .layout-table td:nth-child(1) {
    width: 10%;
}

.layout-table td:nth-child(2) {
    width: 10%;
}

.layout-table td:nth-child(3) {
    width: 80%;
}

.even-layout {
    table-layout: fixed;
} */

/**
 *这是整个页面的分类，整个页面是一个横版flex
 */
 .course-home-page {
    display: flex;
    flex-direction: row;
}


/**
 *页面分为4个竖列
 * 1. 主菜单
 * 2. course菜单
 * 3. course-home-内容
 * 4. 剩余部分
 */



/**
 * 主菜单部分 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 */

 /*对于整列的定义，黑背景，宽度80*/
.coursehomepage-mainnav {
    background-color: black;
    width: 80px;
}
/* NEU ICON */
.coursehomepage-mainnav .NEU {
    color: brown;
    font-size: 30px;
    text-align: center;  /* 水平居中 */
    display: flex;       /* 以下三行用于垂直居中 */
    justify-content: center;
    align-items: center;
    height: 70px;        /* 如果有需要，可以设置一个具体的高度，如 50px */
}
/*对于一个列表的定义，无列表点，wupadding*/
.coursehomepage-mainnav ul.mainnav-list {
    list-style: none;
    padding: 0px;
}
.coursehomepage-mainnav ul.mainnav-list li {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* 文字部分 */
.coursehomepage-mainnav ul.mainnav-list li a {
    text-decoration: none;
    font: 0.8em white;
    color: white;
}
  /* 单独定义被选中的mainnav 选项 */
.coursehomepage-mainnav ul.mainnav-list li.active-mainnav-cell {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
}

.coursehomepage-mainnav ul.mainnav-list li.active-mainnav-cell a {
    text-decoration: none;
    font: 0.8em;
    color: red;
}
/* icon 部分 */
.coursehomepage-mainnav ul.mainnav-list li a i {
    color: red;
    font-size: 1.8em;
    margin-bottom: 5px;
}
.coursehomepage-mainnav ul.mainnav-list li a i.user {
    color: gainsboro;
    font-size: 1.8em;
    margin-bottom: 5px;
}






/**
 * course菜单部分 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 */
.coursehomepage-coursenav {
    background-color: white;
    width: 120px;
    margin-left: 20px;
}
.coursehomepage-coursenav ul.coursenav-list {
    list-style: none;
    padding: 0px;
}
.coursehomepage-coursenav ul.coursenav-list li {
    text-align: left;
    padding: 10px;
}
.coursehomepage-coursenav ul.coursenav-list li a {
    text-decoration: none;
    font: 0.8em;
    color: red;
}
.coursehomepage-coursenav ul.coursenav-list li.active-coursenav-cell {
    text-align: left;
    padding: 10px;
    border-left: 2px solid black;
}
.coursehomepage-coursenav ul.coursenav-list li.active-coursenav-cell a {
    text-decoration: none;
    font: 0.8em;
    color: black;
}






/**
 * course-home-内容 部分 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 */
.coursehomepage-detailcol {
    padding: 5px;
    flex-grow: 1;
}



/**
 * 剩余部分
 */
 .coursehomepage-remainpart {

}


/**
 * 隐藏菜单
 * 是一个黑色底色的bar
 * 左右各一个icon，中间有课程名称
 */

/*整体*/
.coursehomepage-hiddenbar {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.coursehomepage-hiddenbar .left-item {
    padding-left: 20px;
    color: white
}
.coursehomepage-hiddenbar .center-item {
    color: white;
    display: flex;
    flex-direction: column; /* 让子元素在竖直方向上排列 */
    align-items: center; /* 使子元素在水平方向上居中对齐 */
    justify-content: center; /* 使子元素在竖直方向上居中对齐 */
}
.coursehomepage-hiddenbar .right-item {
    color: white;
    padding-right: 20px;
}